* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.kk {
  animation: slideEffect 1s ease-in-out;
}

@keyframes slideEffect {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
